<h1>@ViewBag.Title</h1>

@if (ViewBag.cheeses.Count == 0)
{
    <p>No cheeses yet!</p>
}

<table class="table">

    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <!--Even though we know cheese is of Cheese type, the Razor template engine
        does not, and so to keep it happy we have to use var-->
    @foreach (var cheese in ViewBag.cheeses)
    {
        <tr>
            <td>@cheese.Name</td>
            <td>@cheese.Description</td>
        </tr>
    }
</table>

<p><a asp-controller="Cheese" asp-action="Add">Add Cheese</a></p>
